
<h2 class="color-inverse">Hello <%= @user.email %>!</h2>
<div class="place-box">
  <div class="col-xs-4">
    <%= image_tag 'User.png' %>
  </div>
  <div class="col-xs-8">
    <h3>Thanks for being with us since <%= @user.created_at.strftime("%B %d, %Y") %></h3>
    <h3><%= @user.comments.count %> Total number of reviews</h3>
    <h3><%= @user.comments.where(rating: '5_stars').count %> Total number of 5 star ratings</h3>
  </div>
  <div class="clearfix"></div>
</div>
